<div class="col-md-12">

    <div class="col-md-10 col-md-offset-1 button-wrapper" style="padding-top: 5vh;">

        <div class="btn-lg btn-reddrop" style="text-align: center" ng-click="ctrl.logout()"
             style="margin-bottom: 15px;">
            Logout
        </div>

        <div class="btn-lg btn-reddrop" style="text-align: center" ng-click="ctrl.deleteUser()"
             style="margin-bottom: 15px;">
            Delete Account
        </div>

        <div class="panel panel-reddrop">
            <div class="panel-heading">
                Last Logins
            </div>
            <table id="loginsTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th ng-click="ctrl.sortType = 'username'">Username</th>
                    <th ng-click="ctrl.sortType = 'email'">Email</th>
                    <th ng-click="ctrl.sortType = 'registerDate'">Register Date</th>
                    <th ng-click="ctrl.sortType = 'random'">Random</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in ctrl.users | orderBy:ctrl.sortType">
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.registerDate | date:"dd/MM/yyyy" }}</td>
                    <td>{{user.random}}</td>
                    <td>
                        <img ng-src="/api/user/image?name={{user.username}}" width="100" ng-click="ctrl.showImage(user.username)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>