
table{
	margin: 0 auto;
	width: 480px;
    height:360px;
    border-collapse: collapse;
}



td {
	border: 1px solid black;
	width: 120px;
    height: 90px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: teal;
	background-size: 140px;
}