
html {
    min-height: 100vh;
    background-color: #252525;
}

body {
    min-height: 100vh;
    background-color: #252525;
}

.form-element {
    margin-bottom: 25px;
}

.form-title{
    font-family: "Book Antiqua";
    font-size: 20px;
}

.rounded-border{
    background-color:rgb(65, 65, 65);
    opacity: 1.5;
    padding:10px;
    border:2px solid rgb(188, 188, 188);
    border-radius: 5px;
}

.button-wrapper .btn {
    margin-bottom: 25px;
}

.button-wrapper .btn-lg {
    margin-bottom: 25px;
}

.button-wrapper .txt-i {
    margin-bottom: 25px;
}

.btn-reddrop {
    color: #ffffff;
    background-color: #AA3030;
    border-color: #550000;
}

.btn-reddrop:hover,
.btn-reddrop:focus,
.btn-reddrop:active,
.btn-reddrop.active,
.open .dropdown-toggle.btn-reddrop {
    color: #ffffff;
    background-color: #880000;
    border-color: #550000;
}

.btn-reddrop:active,
.btn-reddrop.active,
.open .dropdown-toggle.btn-reddrop {
    background-image: none;
}

.btn-reddrop.disabled,
.btn-reddrop[disabled],
fieldset[disabled] .btn-reddrop,
.btn-reddrop.disabled:hover,
.btn-reddrop[disabled]:hover,
fieldset[disabled] .btn-reddrop:hover,
.btn-reddrop.disabled:focus,
.btn-reddrop[disabled]:focus,
fieldset[disabled] .btn-reddrop:focus,
.btn-reddrop.disabled:active,
.btn-reddrop[disabled]:active,
fieldset[disabled] .btn-reddrop:active,
.btn-reddrop.disabled.active,
.btn-reddrop[disabled].active,
fieldset[disabled] .btn-reddrop.active {
    background-color: #AA3030;
    border-color: #550000;
}

.btn-reddrop .badge {
    color: #AA3030;
    background-color: #ffffff;
}

.panel-reddrop > .panel-heading {
    background-image: none;
    background-color: #AA3030;
    color: white;
}

.panel-reddrop > .panel-body {
    background-color: #333333;
    color: white;
}

.panel-reddrop > .panel-footer {
    background-color: #333333;
    color: white;
}

.form-control{
    color:rgb(188, 188, 188);
}

md-toast.md-reddrop-toast-theme .md-toast-content {
    background-color: #AA3030;
}
