html, body {
	margin: 0;
	height: 100%;
}

header {

	background-color: red;
	height: 20%;
}


#menu {
	background-color: yellow;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
	height: 5%;
	overflow: auto;
}

li {
	display: table-cell;
	/*border: 1px solid black;*/
	border-right: 1px solid black;
	margin: 0;
	padding: 5px 10px;
	width: 20%;
}



#main {
	background-color: green;
	margin: 0;
	height: 65%;
}

p {
	padding: 0;
	margin: 0;
}


footer {
	height: 10%;
	background-color: pink;
	position: absolute;
	bottom: 0;
	width: 100%;

}

header, footer, #main {

	display: flex;
	align-items: center;
	
}
	